.clipped-text {
  margin-left: 5rem;
  width: 60rem;
  height: 18rem;
  background: transparent;
  text-align: justify;
}

.clipped-text:before {
  margin-left: 15px;
  content: '';
  float: right;
  width: 50%;
  height: 100%;
  background: url('../assets/frieda_raam.jpg') center;
  background-repeat: no-repeat;
  shape-outside: polygon(100% 100%, 100% 0, 0 0);
  clip-path: polygon(100% 100%, 100% 0, 0 0);
}

p {
  line-height: 1.8;
  color: $sec-text-color;
  font-weight: 300;
  font-size: medium;
  // text-shadow: 1px 1px 2px $primair-background-color;
}
ul {
  list-style: none;
}
