$primair-color: #f53bd9;
$primair-background-color: #211522;
$tri-color: rgb(146, 138, 138);
$tri-background-color: rgb(221, 120, 196);
$text-color: rgb(16, 15, 15);
$sec-text-color: rgb(250, 195, 247);
